@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    font-family: "Arvo";
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.primary {
    color: var(--bs-primary) !important;
}

.square {
    aspect-ratio: 1/1;
}

.mankementje-park-locatie {
    font-size: 1rem;
    color: #a1a1a1;
}

.mankementje-titel {
    font-size: 1.5rem;
    color: #000000;
}

.mankementje-datum {
    font-size: 1.15rem;
    color: #000000;
}

.mankementje-stat {
    font-size: 2rem;
    color: #000000;
}

.mankementje-status:hover {
    cursor: help;
}

.mankementje-card-img {
    aspect-ratio: 16/9;
    object-fit: cover;
}

a.unstyled {
    color: inherit;
    text-decoration: none;
}

a.unstyled.hover:hover {
    text-decoration: underline;
}

a.mankementje .card {
    transition: 0.2s;
}

a.mankementje .card:hover {
    -webkit-box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.mankementje-status.green {
    color: #00af00;
}

.mankementje-status.red {
    color: #af0000;
}

.mankementje-status.orange {
    color: #ff6600;
}

.c-alert {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 2rem);
    padding: 1rem;
    margin: none;
    margin-left: 1rem;
    color: white;
    z-index: 1000;
    margin-top: 5em;

    border-radius: 0.5em;
}

.c-alert-danger {
    background-color: rgba(175, 80, 80, 0.65);
}

.c-alert-info {
    background-color: rgba(80, 80, 175, 0.65);
}

.c-alert-success {
    background-color: rgba(80, 175, 80, 0.65);
}

.of-c {
    object-fit: contain;
}

.op-c {
    object-position: center;
}

.w-100 {
    width: 100%;
}

.mh-60 {
    max-height: 60%;
}

.text-verylarge {
    font-size: 30rem;
}

@media (max-width: 768px) {
    .text-verylarge {
        font-size: 6rem;
    }
}
